* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'permanent marker', satisfy;
    background-color: #288728 ;
}

.header {
    display: flex;
    max-width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background: url(/images/5.jpg) no-repeat center center/cover;
    box-shadow: 0 10px 5px #61972D;
}
#cover {
    font-size: 20px;
    height: 50vh;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*        company logo     */
.logo {
    margin: 20px;
    font-size: 22px;
    text-transform: uppercase;
}
#logo {
    text-shadow: 3px 5px 1px #61972D;
}
#logo span {
    margin-left: 25px;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 18px;
    color: #25EEA2;
}

/*            navigation bar & links      */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    float: right;
    width: 40%;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li {
    list-style-type: none;
    padding: 20px;
}
.nav-links li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(94, 2, 94);
}
.nav-links a:hover {
    color: goldenrod;
    opacity: 0.7;
    transition: 200ms;
}
.nav-links a:active {
    color: rgb(146, 106, 45);
    opacity: 1;
    transition: 100ms ease;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: navy;
    transition: .5s;
}

/*    tour button & smooth scroll      */
.tour {
    display: flex;
    margin: 30px;
    padding: 20px;
}
#btn {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #25EEA2;
    padding: 0 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: -4px 6px 5px #000;
    -webkit-transition: 2s ease-in;
    transition: 2s ease-in;
}
#btn:hover {
    width: 200px;
}
#btn:active {
    color: rgba(0, 0, 0, 0.5);
    opacity: .7;
    transition: 200ms ease;
}

/*     profile section with modal-box */
.container {
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-around;
    background-color: #227254;
}
.content-box {
    margin: 30px;
    padding: 30px;
    border-right: 2px ridge #eee;
    height: auto;
}
.content-box h3 {
    text-align: center;
}
#profile-img {
    float: left;
    border-radius: 50%;
    shape-outside: circle();
    shape-margin: 10px;
}
.box p {
    text-align: justify;
}
.box .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 3px;
}
.box .btn:hover {background-color: rgba(0, 0, 0, 0.4)}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: rgba(97, 151, 45, 1);
    margin: auto;
    padding: 30px;
    border: 1px solid #8888;
    width: 100%;
    align-items: center;
    text-align: justify;
}
.modal-content .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;;
    margin-left: 25%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    top: 0;
    clear: both;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.side-content-box {
    padding: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.side-box {
    text-align: center;
}
.side-box h3{
    font-size: 20px;
}
#txt-tee {
    text-align: justify;
}

/*the tech area/ after profile*/
.container-2 {
    display: flex;
    flex-direction: column;
}
.grid-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    position: relative;
}
.tech-links h3 {
    font-size: 20px;
    font-weight: bold;
}
.tech-links div {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.tec-pix {
    display: none;
}
.gridz {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    background: #bbb;
    transition: background 0.6s ease;
}
.active {
    background-color: #000;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1;}
}

/*              the team section        */
.showcase-team {
    display: flex;
    flex-direction: column;
    background-color: #61972D;
    margin-bottom: 20px;
}
.grid-box {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 30px;
    margin: 10px;
    width: auto;
}
.team-box {
    align-items: center;
    text-align: center;
}
.grid-2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: auto auto;
    grid-gap: 10px;
    margin: 10px;
    width: 100%;
}
.column {
    border: 1px hidden;
    border-radius: 3px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.team-text {
    margin: 20px;
    text-align: center;
    font-size: 20px;
}
.team-text h5 {
    text-transform: capitalize;
    text-decoration: underline;
}
.team-text .text {
    background-color: #bbb;
    padding: 10px;
    text-align: justify;
    font-size: 18px;
}

.container-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.showcase {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#breeding {
    background-color: rgb(185, 123, 7);
}
#incubation {
    background-color: rgb(185, 123, 7);
}

/*       footer section     */
.footer {
    display: block;
    padding: 30px;
    background-color: #227254;
}
.footer-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer #logo {
    font-size: 20px;
}
.footer #location {
    font-size: 20px;
}
.footer #contact {
    font-size: 20px;
}

/*    Responsive design. here we go    */ 

@media screen and (max-width:500px) {
    body {
        overflow-x: hidden;
    }
    .header {
        height: 70vh;
        box-shadow: none;
        background: url(/images/download\ \(3\).jpg);
        background-size: cover;
    }
    #cover {
        font-size: 2vw;
        height: 5vh;
    }
    .logo {
        display: none;
    }
    .nav {
        display: block;
        clear: both;
        align-items: center;
        padding: 50px;
        float: left;
    }
    .nav-links {
        position: absolute;
        top: 15vh;
        float: left;
        left: 0;
        background-color: #6C876D;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(-100%);
        transition: transform .5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    .content-box {
        border: none;
    }
    .side-content-box {
        display: none;
    }

    .grid-box {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: auto;
    }
    .grid-2 {
        grid-template-columns: auto auto auto;
        grid-gap: 3px;
        font-size: 2.1vw;
    }
    .team-text {
        display: none;
    }
    .footer-grid {
        display: flex;
        flex-direction: column;
    }
    .footer #location {
        font-size: 3vw;
        background-color: #1c5e45;
        width: 100%;
        text-align: center;
    }
    .footer #contact {
        font-size: 3vw;
        background-color: #225240;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}

.nav-active {
    transform: translateX(100%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateX(-50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
